.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: rgb(127, 243, 127);
}
.btn.wrong {
    --hue: var(--hue-wrong);
    color: red;
}

.btn {
    border-radius: 5px;
    padding: 5px 10px;
}

*, *::before, *::after {
    box-sizing: border-box;

}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

.container {
    padding :0;
    margin: 0;
    display: flex;
    width: 80vw;
    height:30vh;
    justify-content: center;
    align-items: center;
}


.container {
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap:10px;
    margin: 20px 0;
}
.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .main {
    background-color: white;
    margin: 0 auto;
    width: 60%;
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  span {
    float: left;
  }

  p {
    padding: 10px 10px 0;
  }
  
  /*Form area width*/
  .form-area, ul {
    margin: 20px auto;
    max-width: 550px;
  }
  
  /*formatting answers*/
  li {
    list-style-type: none;
    text-align: left;
    background-color: transparent;
    margin: 10px 5px;
    padding: 5px 10px;
    border: 1px solid lightgray;
    font-weight: normal;
  }
  
  li:hover {
    background: #ECEEF0;
  }
  
  /*Change effect of question when the questions is selected*/
  .selected, .selected:hover {
    background: #FFDEAD;
  }
  
  /*change correct answer background*/
  .correct, .correct:hover {
    background: #9ACD32;
    color: white;
  }
  
  /*change wrong answer background*/
  .wrong, .wrong:hover {
    background: #db3c3c;
    color: white;
  }

  .next {
    background: #fa994a;
    min-width: 120px;
  }
  
  .next:hover, .next:active, .next:focus {
    background: #e38a42;
  }
  
  .circle{
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    background: #bdc3c7;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    overflow: hidden;
  }
  
  .fill{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: #31a2ac;
  }
  
  h3 {
    position: absolute;
    width: 100%;
    top: 60px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 40pt;
    line-height: 0;
    font-weight: normal;
  }
  
  .circle p {
    margin: 400px;
  }
  




